{% load static%}
<link rel="stylesheet" 
type="text/css" 
href= {% static "a.css" %}/>
<h1>Update your data...</h1>

<form action="/updatenew/" method="POST"><br> <br>
{% csrf_token %}
ID Number: <input type ="text" name = "ii" value={{in}}>
<br><br>
User Name: <input type ="text" name = "usaname" value={{us}}>
<br><br>
Password : <input type ="text" name = "passwd" value={{ps}}>
<br><br>

<input type="submit" value="Submit"/>
<input type="button" value="Go back!" onclick="history.back()">

<br><br>
</form>